* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    background: #fff;
    font-family: "Roboto", sans-serif;
}

.container {
    max-width: 1520px;
    width: 100%;
}

.header {
    width: 100%;
    height: 168px;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
}

.header_info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
}

.header_wrapper-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header_info-contact {
    display: flex;
}

.header_info-contact-info {
    display: flex;
    flex-direction: column;
    margin-right: 107px;
}

.header_phone-number {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.header_img-phone {
    margin-right: 2px;
}

.search {

}

.header_search {
    background-image: url("./assets/images/Search.png");
    background-position: 285px center;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 310px;
    height: 32px;
    background-color: #fff;
    padding-left: 10px;

}

.header_button {
    font-family: "Roboto", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 66px;
    background: #005ff9;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.1;
    text-align: center;
    color: #fff;
    border: none;
}

.header_block-name {
    width: 100%;
    height: 60px;
    background: #005ff9;
    display: flex;
    align-items: center;
    justify-content: center;

}

.header_block-name-info {
    display: flex;
    align-items: center;
}

.header_wrapper-name {
    display: flex;
    justify-content: space-between;
}

.header_block-name-info > h1 {
    font-family: "Helvetica", sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #fff;
    border-right: white 1px solid;
    padding-right: 20px;
    margin-right: 20px;
}

.header_block-name-info > h2 {
    font-family: "Arial", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.1;
    color: #ff9e00;
}

.header_menu-networks {
    display: flex;
    align-items: center;
}

.social-networks {
    width: 119px;
    height: 31px;
    display: flex;
    justify-content: space-around;
    margin-right: 23px;
}

.header_block-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    background: #333;
}

.header_nav-menu {
    display: flex;
    justify-content: flex-end;
}

.header_menu-info {
    font-family: "Roboto", sans-serif;
    margin-left: 50px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0.04em;
    color: #fff;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0 50px;
}

.main_wrapper {
    display: flex;
    justify-content: space-between;
}

.main_sidebar {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    max-width: 310px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 4px 4px 15px 0 #edeef0, -4px -4px 15px 0 #edeef0;
    background: #fff;
    padding: 28px 10px 14px 0;
}

.main_sidebar :hover {
    cursor: pointer;
}

.main_list {
    display: flex;
    flex-direction: column;
    margin: 15px 0 15px 20px;
}

.main_list-name {
    font-family:  "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #005bd1;
    margin-bottom: 5px;
    text-decoration: none;
}

.action {
    background: rgba(0, 95, 249, 0.1);;
}

.main_list-materials {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.main_list-materials select {
    border: none;
    font-family:  "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    background-image: url("./assets/images/arrow.png");
    background-repeat: no-repeat;
    appearance: none;
    background-position: right center;
}

.main_list-materials a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}


.main_content {
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    width: 100%;
}

.main_page {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(44, 45, 46, 0.5);
    margin: 40px 0;
}

.main_content-section {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 50px;
}

.main_recommendations {
    border-radius: 15px;
    width: 260px;
    height: 310px;
    box-shadow: 4px 4px 15px 0 #edeef0, -4px -4px 15px 0 #edeef0;
    background: #fff;
    text-decoration: none;
}

.main_content-section :hover {
    cursor: pointer;
    transform: scale(1.03);
    transition-duration: 0.7s;
}

.recommendations-item {
    border-radius: 15px 15px 0 0;
    width: 260px;
    height: 260px;
}

.main_recommendations span {
    display: flex;
    justify-content: center;
    margin-top: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    color: #2c2d2e;
}

.main_product-price {
    margin-bottom: 12px;
    margin-left: 10px;
}

.main_product-position {
    margin-bottom: 35px;
    margin-top: 10px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #005bd1;
}

.price-sum {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    color: #f00;
}

.price-cost {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #2c2d2e;
}

.main_products-button {
    display: flex;
    justify-content: center;
}

.button-buy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid #005ff9;
    border-radius: 10px;
    padding: 11px 8px;
    background: #fff;
    font-family:  "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.1;
    text-align: center;
    color: #005bd1;
    margin-right: 4px;
}

.button-basket {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    border-radius: 10px;
    padding: 11px 25px;
    background: #005ff9;
    font-family:  "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.1;
    text-align: center;
    color: #fff;
}

.main_products {
    display: flex;
    flex-direction: column;
    max-width: 1160px;
    width: 100%;
    height: 1249px;

}

.span-block-house {
    font-family:  "Roboto", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #2c2d2e;
}

.main_product-section {
    display: flex;
    margin: 30px 0 15px;
}

.main_product-item {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 260px;
    height: 470px;
    box-shadow: 4px 4px 15px 0 #edeef0, -4px -4px 15px 0 #edeef0;
    background: #fff;
    margin-right: 40px;
}

.main_products p {
    font-family: "Roboto", sans-serif;;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    color: #000;
    margin: 25px 0 25px;
}

.main_products li {
    list-style-type: none;
    font-family:  "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    color: #000;

}


.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #333;
}

.footer_wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 396px;
}

.footer_wrapper-form{
    display: flex;
    flex-direction: column;
    max-width: 360px;
}





